<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Botones
    </mat-panel-title>
  </mat-expansion-panel-header>
  <andyng-material-button></andyng-material-button>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Input Fields
    </mat-panel-title>
  </mat-expansion-panel-header>
  <andyng-material-input></andyng-material-input>
</mat-expansion-panel>

<mat-expansion-panel expanded = "true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Lists
    </mat-panel-title>
  </mat-expansion-panel-header>
  <andyng-material-list></andyng-material-list>
</mat-expansion-panel>

