<mat-list>
  <mat-list-item>
    <span>Panamericana</span>
  </mat-list-item>

  <mat-list-item>
    <span mat-line>Gestión</span>
    <span mat-line>Publimetro</span>
    <span mat-line>Correo</span>
    <span mat-line>El Comercio</span>
  </mat-list-item>
  <mat-list-item>
    <span mat-line>Andina</span>
    <span mat-line>BBVA</span>
    <span mat-line>Brazil</span>
  </mat-list-item>
</mat-list>

<mat-list>
  <andyng-item-persona *ngFor="let per of listaPersonas" [persona]="per" (onMouseClick)="onMouseClick($event)"></andyng-item-persona>
</mat-list>
