<mat-list>
  <mat-list-item>
    <span>Panamericana</span>
  </mat-list-item>

  <mat-list-item>
    <span mat-line>Gestión</span>
    <span mat-line>Publimetro</span>
    <span mat-line>Correo</span>
    <span mat-line>El Comercio</span>
  </mat-list-item>
  <mat-list-item>
    <span mat-line>Andina</span>
    <span mat-line>BBVA</span>
    <span mat-line>Brazil</span>
  </mat-list-item>
</mat-list>

<mat-list>
  <mat-list-item>
      <img *ngIf="persona1.fotoURL" mat-line mat-list-avatar
        [src]="persona1.fotoURL" alt="">
        <img *ngIf="!persona1.fotoURL" mat-line mat-list-avatar
          [src]="DEFAULT_PICTURE" alt="">
      <span mat-line>{{ persona1.nombre }}</span>
      <span mat-line>{{ persona1.apellidos }}</span>
  </mat-list-item>
  <mat-list-item *ngFor="let persona of listaPersonas">
    <img *ngIf="persona.fotoURL" mat-line mat-list-avatar
         [src]="persona.fotoURL" alt="">
    <img *ngIf="!persona.fotoURL" mat-line mat-list-avatar
         [src]="DEFAULT_PICTURE" alt="">
    <span mat-line>{{ persona.nombre }}</span>
    <span mat-line>{{ persona.apellidos }}</span>
  </mat-list-item>
</mat-list>
